@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-container {
    position: absolute;
    top: 10px;  /* Adjust based on your design requirements */
    left: 10px; /* Adjust based on your design requirements */
    display: flex;
    align-items: center;
}

.company-logo {
    height: 20px; /* Adjust the size as needed */
    width: auto;
    margin-right: 10px; /* Space between logo and text */
}

.company-name {
    font-size: 16px; /* Adjust based on your design requirements */
    color: white; /* Adjust color based on your theme */
}


.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 500px;
    margin-top: -20px; /* Adjust this value to move the image up or down */
}


.main .image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.main .image-container p {
    color: #324042;
    text-align: center;
    margin-bottom: 40px;
}
.input {
    display: flex;
    flex-direction: row; /* Aligns elements horizontally */
    justify-content: center; /* Centers elements horizontally */
    align-items: center; /* Centers elements vertically */
    position: fixed; /* Keeps the input at the specified position regardless of scrolling */
    bottom: 100px; /* Positions the input at the bottom */
    left: 250px; /* Starts from the left edge */
    right: 10px; /* Stretches to the right edge, helping center content */
    margin: auto; /* Centers the container horizontally */
    width: 40%; /* Takes full width to better center the content */
}

.text-input {
    width: 70%; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00ccff;
    border-radius: 4px;
    box-sizing: border-box; 
}

.talk {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.talk:hover {
    background-color: hsl(0, 99%, 35%);
}

.fas {
    color: rgb(0, 238, 255); 
}
